/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Common Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */
main {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.centered {
    width: 322px;
    padding: 16px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -1px 0 20px -10px hsl(220, 15%, 55%);
}

.centered img {
    width: 100%;
    border-radius: 0.625em;
}

.centered h1,.centered p {
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    font-size: 1.38em;
    padding: 1.25rem;
    text-align: center;
}

.centered p {
    font-size: 0.938em; /* 15px */
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding-top: 0;
}